<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE beans PUBLIC
                "-//SPRING/DTD BEAN 2.0//EN"
                "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans >
        <!-- Datasource (Connection properties) -->
        <bean id="datasource" class="org.apache.commons.dbcp2.BasicDataSource">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/spring_hibernate?characterEncoding=latin1"></property>
                <property name="username" value="root"></property>
                <property name="password" value="root"></property>
        </bean>

        <!-- Session Factory -->
        <bean id="sessionfactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
                <property name="dataSource" ref="datasource"></property>
                <property name="mappingResources">
                        <list>
                                <value>Employee.hbm.xml</value>
                        </list>
                </property>

                <property name="hibernateProperties">
                        <props>
                                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                                <prop key="hibernate.hbm2ddl.auto">update</prop>
                                <prop key="hibernate.show_sql">true</prop>
                        </props>
                </property>
        </bean>

        <!-- hibernate template (reference to session factory)-->
        <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
                <property name="sessionFactory" ref="sessionfactory"></property>
        </bean>

        <!-- DAO Class -->
        <bean id="empdao" class="EmployeeDAO">
                <property name="template" ref="hibernatetemplate"></property>
        </bean>



</beans>